@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Light.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Light-Italic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Medium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Medium-Italic.otf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-SemiBold-Italic.otf");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Bold-Italic.otf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-ExtraBold.otf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-ExtraBold-Italic.otf");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Black.otf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Black-Italic.otf");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

.align-center{
  align-items: center;
  display: flex;
}