@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Light.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Light-Italic.otf");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Medium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Medium-Italic.otf");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-SemiBold-Italic.otf");
  font-style: italic;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Bold-Italic.otf");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-ExtraBold.otf");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-ExtraBold-Italic.otf");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Black.otf");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Prelo";
  src: url("/fonts/Prelo/Prelo-Black-Italic.otf");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}

.align-center {
  align-items: center;
  display: flex;
}

.react-multiple-carousel__arrow {
  background-color: #fd5000 !important;
  border-radius: 0 !important;
}
.react-multiple-carousel__arrow:hover {
  background-color: #fd5000 !important;
}

.image-item {
  margin: 0 16px;
}

.margin-top-18px {
  margin-top: 18px;
}
.margin-top-28px {
  margin-top: 28px;
}
.margin-top-42px {
  margin-top: 42px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.rotated {
  transform: scaleX(-1);
}

.display-flex {
  display: flex;
}

.card {
  cursor: pointer;

  transition: 0.2s;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.card,
.card-header {
  background-color: rgba(0, 0, 0, 0.5);

  border-radius: 0;

  color: #ffffff;

  font-weight: 400;
}
.card-body {
  color: #000000;
  background-color: #fefefe;

  cursor: default;
}

.align-end {
  align-items: flex-end;
}

:root {
  --sizePercentage: 72%;
  --sizePercentageNav: 72%;
}

@media only screen and (max-width: 992px) {
  :root {
    --sizePercentage: 68%;
    --sizePercentageNav: 68%;
  }
}
@media only screen and (max-width: 768px) {
  :root {
    --sizePercentage: 100%;
    --sizePercentageNav: 50%;
  }
}
@media only screen and (max-width: 576px) {
  :root {
    --sizePercentage: 100%;
    --sizePercentageNav: 60%;
  }
}

.orange-layer {
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(var(--sizePercentage), white),
    color-stop(var(--sizePercentage), #fd5000),
    color-stop(100%, #fd5000)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(var(--sizePercentage), white),
    color-stop(var(--sizePercentage), #fd5000),
    to(#fd5000)
  );
  background: linear-gradient(
    to right,
    white var(--sizePercentage),
    #fd5000 var(--sizePercentage),
    #fd5000 100%
  );
}
.orange-layer-navbar {
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(var(--sizePercentageNav), white),
    color-stop(var(--sizePercentageNav), #fd5000),
    color-stop(100%, #fd5000)
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(var(--sizePercentageNav), white),
    color-stop(var(--sizePercentageNav), #fd5000),
    to(#fd5000)
  );
  background: linear-gradient(
    to right,
    white var(--sizePercentageNav),
    #fd5000 var(--sizePercentageNav),
    #fd5000 100%
  );
}
